.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.card-container{
    width: 400px;
    height: 600px;
}
.card{
    width: 100%;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    transform-style: preserve-3d;
}
.card-container:hover .card{
    transform: rotateY(180deg);
}
.card .front{
    background:#fff;
    color: rgb(82, 6, 82);
}
.card .back{
    background:#fff;
    color: rgb(82, 6, 82);
}